<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">


    {% block head %}

    {% endblock %}

</head>

<body>

    {% block body %}


    <div class="content">

        {% block content %}


        {% endblock %}
    </div>


    {% endblock %}
</body>

</html>
