{% extends 'base.html' %}


{% block head %}
{% endblock %}


{% block body %}
<div class="main">
    <div class="container">
        <h1>Nagios Search</h1>

        <form action="/nag_search" method="POST">
            <div class="flex-inputs">
                <div class="content">
                    <input type="text" name="service" id="service" placeholder="Search for service..">
                    <span>
                    </span>
                </div>
                <div class="content two">
                    <input type="text" name="host" id="host" placeholder="Search for host..">
                    <span>
                    </span>
                </div>
            </div>
            <div id="search-button">
                <input type="submit" value="Search">
            </div>
        </form>

        <div id="file-upload">
            &#x1F447
            &#x1F447
            &#x1F447
            Have list of hosts, in a text document, you want to search for?
            &#x1F447
            &#x1F447
            &#x1F447
            <form action="/nag_search" method="POST" enctype="multipart/form-data">
                <input type="file" name="text_file" id="text_file">
                <input type="submit" value="Search For Multiple Hosts">
            </form>
        </div>

        <div id='warning'>
            File must be .txt. Functionality to accept .csv files will be added soon.
        </div>
    </div>

</div>
{% endblock %}